.home-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 8px;
  width: 100%;
  box-sizing: border-box;
}

.home-container > button {
  outline: none;

}

.separator {
  position: relative;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 8px;
  font-size: 12px;
}

.separator::before {
  content: '';
  width: 6%;
  margin-right: 1em;
  height: 1px;
  background-color: #ccc;
}

.separator::after {
  content: '';
  margin-left: 1em;
  flex: 1;
  height: 1px;
  background-color: #ccc;
}

button {
  position: relative;
  height: 50px;
  margin: 10px 8px;
  padding: 0 30px;
  border: 2px solid #000;
  background: #e8e8e8;
  user-select: none;
  white-space: nowrap;
  transition: all 0.05s linear;
  font-family: inherit;
}

button:before,
button:after {
  content: '';
  position: absolute;
  background: #e8e8e8;
  transition: all 0.2s linear;
}

button:before {
  width: calc(100% + 6px);
  height: calc(100% - 16px);
  top: 8px;
  left: -3px;
}

button:after {
  width: calc(100% - 16px);
  height: calc(100% + 6px);
  top: -3px;
  left: 8px;
}

button:hover {
  cursor: crosshair;
}

button:active {
  transform: scale(0.95);
}

button:hover:before {
  height: calc(100% - 32px);
  top: 16px;
}

button:hover:after {
  width: calc(100% - 32px);
  left: 16px;
}

button span {
  font-size: 15px;
  z-index: 3;
  position: relative;
  font-weight: 600;
}
